<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--ALWAYS CHECK IF THE NAMESPACE IS CORRECT! (Same package name as BoardMapper) -->
<mapper namespace="org.zerock.ex00.mappers.BoardMapper">
<!--    Notice how the "id" attribute is same as the method name?-->
    <select id="getList" resultType="BoardVO">
        SELECT * FROM tbl_board where bno > 0 order by bno desc
    </select>

<!--    Notice how the "id" attribute is same as the method name?-->
    <insert id="insert">

<!--        1. <selectKey> literally selects the key.
            "order" attribute dictates when the SQL statement in <selectKey> will be executed
            either "AFTER" the main <insert> or "BEFORE" the main statement.-->

<!--        2. "keyProperty" attribute maps the key name that is being selected in the <selectKey>.
            It can also be re-used in the main SQL statement -->

<!--        3. "resultType" specifies the data type of the Result-->

        <selectKey order="AFTER" keyProperty="bno" resultType="Long">
            SELECT LAST_INSERT_ID();
        </selectKey>

        INSERT INTO tbl_board (title, content, writer)
        VALUES (#{title}, #{content}, #{writer}) <!-- <- No semicolons required! !-->
    </insert>

    <select id="select" resultType="BoardVO">
        SELECT * FROM tbl_board WHERE bno = #{bno}
    </select>

    <select id="getPage" resultType="BoardVO">
        SELECT *
        FROM tbl_board
        WHERE bno > 0
        ORDER BY bno DESC
        limit #{skip}, #{amount}
    </select>

    <update id="update">
        UPDATE tbl_board
        SET title = #{title},
            content = #{content},
            writer = #{writer},
            updateDate = now()
        WHERE bno = #{bno}
    </update>

    <delete id="delete">
        DELETE FROM tbl_board
        WHERE bno = #{bno}
    </delete>
</mapper>